<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FileServer</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
</head>
<body>
    <div class="popup-wrapper toggler" id="popup-root">
		<div class="popup">
			<h4>Você tem certeza?</h4>
			<p>Essa ação é irreversivel</p>
			<div class="popup_btns">
				<button class="confirm_btn back toggler">Não, voltar</button>
				<button class="confirm_btn del disabled toggler" time="3" id="deleter">Sim, deletar</button>
			</div>
		</div>
	</div>

	<section class='header'>
		<h2 id="title">
            Diretório atual: {{ .path }}
		</h2>
		<h3 id="subtitle">
            <a class="link" href="/?path={{ .last_path }}">
                Voltar para o diretório anterior
            </a>
        </h3>
	</section>

	<section class="upload">
		<div class="upload-control">
			<label for="folders" class="upload-title">Adicionar pastas</label>
			<div class="files-wrapper">
				<input
					id="folders"
					type="file"
					webkitdirectory
					value="null"
					mozdirectory
					directory=""
					multiple
					onchange="handleSubmit(this,'folders')"
					name="folders"
					placeholder="Ennviar arquivos" />
			</div>
		</div>
		<div class="upload-control">
			<label for="archives" class="upload-title">Adicionar arquivos</label>
			<div class="files-wrapper">
				<input
					id="archives"
					type="file"
					onchange="handleSubmit(this,'archives')"
					name="archives"
					value="null"
					placeholder="Enviar arquivos" />
			</div>
		</div>
	</section>

	<main class="navigation">
		<section>
			<p>Nome</p>
			<ul>
                {{ range .folders }}
                    <li class="rows">
                        <a class="link" href="/?path={{ .Path }}">
                            {{ .FileName }}
                        </a>
						<button class='btn download_btn' path="{{ .Path }}" folder-name="{{ .FileName }}">Baixar</button>
						{{ if .Session }}
							<button class='btn del_btn toggler' path='{{ .Path }}'>Deletar</button>
						{{ end }}
                    </li>
                {{ end }}
            </ul>
		</section>
	</main>
	<script>
		// Handle current login
		let info = {
			timeout: null, // Stores value so next func can end the timeout if needed
			pathToDelete: "", // Stores the value when btn is pressed so delete function can use it
		}

		function repeat(amount = 0, cb = () => {}) {
			cb();

			if (!amount) {
				return
			}

			info.timeout = setTimeout(() => {
				repeat(amount - 1, cb);
			}, 1000)
		}

		document.getElementById('deleter').addEventListener('click', async (e) => {
			let req = await fetch(`/delete?path=${info.pathToDelete}`, {
				credentials: "include",
			})

			req = await req.json();

			console.log(`/delete?path=${info.pathToDelete}`);

			if (!req.success) {
				window.alert(req.message);
				return
			}

			window.location.reload();
		});

		// Handle download buttons fetch
		[...document.getElementsByClassName('download_btn')].forEach((el) => {
			el.addEventListener('click', async (e) => {
				let relative_path = e.target.getAttribute('path');

				if (!relative_path) {
					window.alert('Falha ao identificar o caminho da pasta');
				}

				window.location.href = `download?path=${relative_path}`
			})
		});

		// Handle show popup
		[...document.getElementsByClassName('toggler')].forEach((el) => {
			el.addEventListener('click', (e) => {
				e.stopPropagation()

				if (e.target.classList.contains('toggler')) {
					let d = document.getElementById('popup-root');

					if (d.getAttribute('active')) {
						d.removeAttribute('active')

						clearTimeout(info.timeout);
					} else {
						let time = 4;
						repeat(3, () => {
							document.getElementById('deleter').setAttribute('time', time - 1)
							time = time - 1
						})

						info.pathToDelete = e.target.getAttribute('path');

						d.setAttribute('active', 'true')
					}
				}
			})
		})

		async function handleSubmit(e, type) {
			let data = new FormData()
			let query = new URLSearchParams(window.location.search)
			
			let path = query.get('path') ? query.get('path') : "/" 
			
			for (let i = 0; i < e.files.length; i++) {
				data.append('files', e.files[i]);					
			}
			
			let req = await fetch(`/upload?path=${path}`, {
				method: "POST",
				body: data,
			})

			req = await req.json()

			if (req.success) {
				window.location.reload();
				return
			}
			
			window.alert(req.message)
		}
	</script>
</body>
</html> 


